html, body, input, option {
	font-family: Consolas, monospace;
	font-size: 9pt;
}

input {
	text-align: right;
	margin-left: 5px;
}

#screen {
	float: left; 
	width: 640px;
	height: 480px;
	margin-right: 20px;
	border: 1px #000 solid;
}

#utils {
	float: left;
	height: -webkit-calc(435px - 1em);
	width: 170px;
	overflow: hidden;
}

#breakpoints {
	list-style-type: none;
	padding: 0px;
	display: block;
	overflow: auto;
}

#utils > div {
	height: 100%;
}

#stack {
	width: 100%;
	height: -webkit-calc(100% - 1em);
}

legend > span {
	cursor: pointer;
}

#regs {
	max-width: 420px;
	float: left;
}

#regs > div {
	max-height: -webkit-calc(420px - 2em);
	overflow: hidden;
	padding-top: 15px;
}

#disassembly {
	float: left;
	height: -webkit-calc(435px - 1em);
	overflow: hidden;
}

#disassembly > div {
	overflow: auto;
	height: -webkit-calc(100% - 2em);
}

#disassembly td:nth-child(1) { width: 10px; }
#disassembly td:nth-child(2) { width: 10ex; cursor: pointer; }
#disassembly td:nth-child(3) { width: auto; }

#disassembly tr:not(.after):not(.before) { font-weight: bold; }
#disassembly tr.after :first-child { color: #6A6; }
#disassembly tr.before :first-child { color: #A66; }
#disassembly tr.nop :not(:first-child) { opacity: 0.5; }
#disassembly tr.invalid { color: red; }
#disassembly tr.jump { color: blue; }

#pause { display: none; }

.regs, .memory {
	display: block;
	float: left;
	height: 480px;
	margin-right: 20px;
	margin-top: -0.5em;
	width: 480px;
}

.regs label {
	display: block;
	text-align: right;
	float: left;
	width: 175px;
	margin: 0em 1em;
}

th {
	text-align: left;
}
